@font-face {
    font-family: "TT Commons";
    src:  url("../public/fonts/TTCommonsExtraLight.otf") format("openType");
    font-weight: 200
}
@font-face {
    font-family: "TT Commons";
    src:  url("../public/fonts/TTCommonsLight.otf") format("openType");
    font-weight: 300
}
@font-face {
    font-family: "TT Commons";
    src: 
    url("../public/fonts/TTCommonsRegular.otf") format("openType");
   
}
  
  div {
    font-family: "TT Commons", sans-serif;
  }
@tailwind base;
@tailwind components;
@tailwind utilities;
